<!--Imprint-->
<h2 tabindex="0" class="modal oldtypo-h2" mat-dialog-title>{{ 'imprint.title' | translate }} </h2>
<mat-divider></mat-divider>
<mat-dialog-content tabindex="0">
  <app-imprint-en *ngIf="currentLang=='en'"></app-imprint-en>
  <app-imprint-de *ngIf="currentLang=='de'"></app-imprint-de>
</mat-dialog-content>
<app-dialog-action-buttons
  buttonsLabelSection="imprint"
  [cancelButtonClickAction]="buildDeclineActionCallback()">
</app-dialog-action-buttons>
